nav .container {
  max-width: 1280px;
  margin: 0 auto;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

a {
  color: rgba(#000, 0.7);
  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.arrow {
  color: #F88436;
  .fas {
    font-size: 1.2rem;
  }
}

// #top-view {
//   height: 100vh;
// }

.top-view {
  background-image: url(../images/top-shape.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: top right;
}

.top-view .CTA input {
  box-shadow: 0px 0px 8px rgba(248, 132, 54, 0.49);
}

#features .content {
  width: 960px;
  margin: 20px auto;
}
.contact {
  background-color: #FDDE7E;
}

.side-menu {

}

.hidden {
  display: none;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}


.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
