<div id="demo">
    <h2 class="orange text-2xl lg:text-3xl font-extrabold text-center m-4"><%= I18n.t('demo.title') %></h2>
    <hr class="orange-border border w-12 m-auto mb-8">
    <div class="w-screen md:w-1/2 container mx-auto">
      <section class="embed-container">
        <div>
          <iframe src="https://www.youtube.com/embed/tEY91ghpLjc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </div>
      </section>
    </div>
  </div>