<footer class="py-6 px-8">
    <div class="flex items-center justify-between">
      <a href="#">
        <div class="logo block w-24">
          <%= image_tag 'images/odaiba-logo.svg', alt: "logo" %>
        </div>
      </a>

      <div class="social block">
        <div class="text-sm flex">
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/facebook.svg', alt: "facebook" %>
          </a>
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/instagram.svg', alt: "instagram" %>
          </a>
          <a href="#" class="block opacity-75 hover:opacity-50 mr-6 w-4">
            <%= image_tag 'images/twitter.svg', alt: "twitter" %>
          </a>
        </div>
      </div>
    </div>
  </footer>